# Project IO data
data/
outputs/
synthea/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo


# Environment files
.env
.env.*

# VS Code settings
.vscode/

# MacOS metadata files
.DS_Store

# Virtual environment
venv/
env/

# IDE files
.idea/
*.iml

# Pytest and coverage
.pytest_cache/
*.cover
*.coverage
htmlcov/

# Pipenv/Poetry
Pipfile
Pipfile.lock
poetry.lock

# Docker
*.pid
*.seed
*.pid.lock
build/
*.tar
.dockerignore

# Secrets
*.pem
*.key
*.crt

# Deployment-related
*.bak
*.swp
*.orig
*.rej

# Backup files
*.bak
*.tmp
*.swp
*.swo
*.old
*.save

